@font-face {
	font-family: 'hillock';
	src: local('hillock'), url('./hillock.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_883">Text with this font applied</p> */
.fontsforweb_fontid_883 {
	font-family: 'hillock' !important;
}

/* Font downloaded from FontsForWeb.com */